@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#root > div > div > div > div > div:nth-child(15) > div > a > div > img,
#root > div > div > div > div > div:nth-child(17) > div > div:nth-child(1)
{
    display: none;
}