/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
/*!*@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');*!*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import '@radix-ui/colors/blackA.css';

:root {
  --main-color: #F5F5F5;
  --main-color-hover: #eaeaea;
  --main-color-reverse: #000;
  --accent-color: #009999;
  --accent-second-color: #0090B2;
  --accent-second-complementary-color: #00ff75;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color-reverse);
  background-color: var(--main-color);
  /*-ms-overflow-style: none;*/
  /*scrollbar-width: none;*/
}

a {
  text-decoration: none;
  color: var(--main-color-reverse);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: var(--blackA6);
  -webkit-overflow-scrolling: auto !important;
}

::-webkit-scrollbar:hover {
  background: var(--blackA8);
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: rgba(23, 23, 23, 0.56);
  border-radius: 1em;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 23, 23, 0.71);
}
